body{
    justify-content: center;
    text-align: center;
}

#scoreBoard{
    width: 80%;
    overflow: hidden;
}

#player1Score{
    width: 25%;
    margin-left: 25%;
    float: left;
}

#player2Score{
    width: 25%;
    margin-left: 75%;
}